<!doctype html>
<html class="no-js" lang="">

<head>
    <module href="/components/head.html"></module>
</head>

<body>

    <nav class="main-menu section">
        <ul>
            <li><a href="/"><img src="/images/home-black-18dp.svg" alt="Home"> Home</a></li>
            <li><a href="/about/"><img src="/images/fingerprint-black-18dp.svg" alt="About Me"> About</a></li>
            <li><a href="/blog/"><img src="/images/web-black-18dp.svg" alt="Developer Blog"> Developer Blog</a></li>
            <li><a href="/learn/"><img src="/images/menu_book-black-18dp.svg" alt="Technical Tutorials"> Tutorials</a>
            </li>
        </ul>
    </nav>


    <section>
        <h1>&lt!-- David Jensen --&gt;</h1>
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt culpa quos enim veritatis beatae
            exercitationem aut. Quam nobis, nesciunt eveniet repellat at architecto similique, fugit ullam consequatur
            repellendus molestias suscipit!</article>
    </section>
    <section>
        <h2>my post summaries</h2>
        <article>
            <header>
                <p>Article 1 title</p>
            </header>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex at officiis reprehenderit possimus tenetur
                atque placeat consequuntur porro obcaecati nihil omnis nesciunt, impedit modi commodi quibusdam
                temporibus
                voluptatibus recusandae expedita?
            </p>
        </article>
        <article>
            <header>
                <p>Article 2 title</p>
            </header>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex at officiis reprehenderit possimus tenetur
                atque placeat consequuntur porro obcaecati nihil omnis nesciunt, impedit modi commodi quibusdam
                temporibus
                voluptatibus recusandae expedita?
            </p>
        </article>
    </section>


    <footer>
        Copyright &copy 2020 David Jensen • Web Developer
    </footer>

    <script src="./bundle.js"></script>

</body>

</html>