@import 'normalize';
@import 'theme-harsh-ocean';

@include normalize();

@mixin text-contrast($n) {
    $color-brightness: round((red($n)*299)+(green($n)*587)+(blue($n)*114)/1000);
    /* stylelint-disable */
    $light-color: round((red(#ffffff)*299)+(green(#ffffff)*587)+(blue(#ffffff)*114)/1000);
    /* stylelint-enable */

    @if abs($color-brightness) < ($light-color/2) {
        color: $primary;
    }

    @else {
        color: $secondary;
    }
}

/*
    $primary: $gunmetal; // used for most text 
    $secondary: $fire-engine-red; // used for text which is lower in the visual hierarchy 
    $background: $deep-champagne; // used as the background color of the whole site 
    $surface: $slate-gray; // used as the background on components 
    $hint: $powder-blue; // used for text hints (such as those in text fields and labels) 
    $icon: $blizzard-blue; // used for icons 
*/

$section-grid-dims: min-content auto / minmax(10vw, 0.5fr) minmax(300px, 900px) minmax(10vw, 1fr);

$display-font-size: clamp(2.5rem, 3.5vw, 3rem);
$large-header-font-size: clamp(2rem, 3vw, 2.5rem);
$medium-header-font-size: clamp(1.33rem, 2.75vw, 2rem);
$small-header-font-size: clamp(1rem, 2.25vw, 1.33rem);


@font-face {
    font-family: 'Sansita Swashed';
    src: url('fonts/SansitaSwashed-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('fonts/CrimsonPro-VariableFont_wght.ttf');
}


:root {
    color: $primary;
    @include text-contrast($primary);

    font-family: "Crimson Pro", serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sansita Swashed";
}

h1 {
    font-size: 2rem;
    font-size: $large-header-font-size;
}

h2 {
    font-size: 1.5rem;
    font-size: $medium-header-font-size;
}

h3 {
    font-size: 1rem;
    font-size: $small-header-font-size;
}

img {
    vertical-align: middle;
}

* {
    vertical-align: baseline;
}

section,
.section {
    background-repeat: no-repeat, no-repeat;
    background-size: 750px 525px, cover;
    background-position: 70% 50%, 0 0;

    padding: 5em 0;
    margin: 0;
    grid-column: 1 / -1;
    grid: $section-grid-dims;
    display: grid;

    >* {
        grid-column: 2 / 3;
    }

    article header {
        font-size: 1rem;
        font-size: clamp(1rem, 2.25vw, 1.33rem);
    }

}

nav.main-menu {
    background-color: $primary;
    @include text-contrast($primary);

    a {
        color: inherit;
        text-decoration: inherit;
    }

    ul {
        display: flex;
        justify-content: space-between;

        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 0;

        li {
            list-style-type: none;
        }
    }
}

footer {
    background: $secondary;
    @include text-contrast($secondary);

    position: absolute;
    width: 100%;
    margin: 0;
    padding: 1.5rem 0;
    text-align: center;
    box-sizing: border-box;
}