/* theme colors */
$gunmetal: #002a32ff;
$fire-engine-red: #c1292eff;
$deep-champagne: #fcd0a1ff;
$slate-gray: #6c809aff;
$powder-blue: #9ad1d4ff;
$blizzard-blue: #aeecefff;

$primary: $blizzard-blue;
$secondary: $gunmetal;
$background: $deep-champagne;
$surface: $slate-gray;
$hint: $powder-blue;
$icon: $blizzard-blue;
